.grid-block, .main, .post, .comments li, .comment-form {
  background: #fff;
  border-radius: 3px;
  padding: 10px;
  margin-bottom: 10px;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15); }

body {
  background: #eee;
  color: #666666; }

#main {
  position: relative;
}
.page {
  position: absolute;
  top: 0px;
  width: 100%;
}

.navbar {
  margin-bottom: 10px; }
  /* line 32, ../sass/style.scss */
  .navbar .navbar-inner {
    border-radius: 0px 0px 3px 3px; }

#spinner {
  height: 300px; }

.post {
  /* For modern browsers */
  /* For IE 6/7 (trigger hasLayout) */
  *zoom: 1;
  position: relative;
  opacity: 1; }
  .post:before, .post:after {
    content: "";
    display: table; }
  .post:after {
    clear: both; }
  .post.invisible {
    opacity: 0; }
  .post.instant {
    -webkit-transition: none;
    -moz-transition: none;
    -o-transition: none;
    transition: none; }
  .post.animate{
    -webkit-transition: all 300ms 0ms;
    -moz-transition: all 300ms 0ms ease-in;
    -o-transition: all 300ms 0ms ease-in;
    transition: all 300ms 0ms ease-in; }
  .post .upvote {
    display: block;
    margin: 7px 12px 0 0;
    float: left; }
  .post .post-content {
    float: left; }
    .post .post-content h3 {
      margin: 0;
      line-height: 1.4;
      font-size: 18px; }
      .post .post-content h3 a {
        display: inline-block;
        margin-right: 5px; }
      .post .post-content h3 span {
        font-weight: normal;
        font-size: 14px;
        display: inline-block;
        color: #aaaaaa; }
    .post .post-content p {
      margin: 0; }
  .post .discuss {
    display: block;
    float: right;
    margin-top: 7px; }

.comments {
  list-style-type: none;
  margin: 0; }
  .comments li h4 {
    font-size: 16px;
    margin: 0; }
    .comments li h4 .date {
      font-size: 12px;
      font-weight: normal; }
    .comments li h4 a {
      font-size: 12px; }
  .comments li p:last-child {
    margin-bottom: 0; }

.dropdown-menu span {
  display: block;
  padding: 3px 20px;
  clear: both;
  line-height: 20px;
  color: #bbb;
  white-space: nowrap; }

.load-more {
  display: block;
  border-radius: 3px;
  background: rgba(0, 0, 0, 0.05);
  text-align: center;
  height: 60px;
  line-height: 60px;
  margin-bottom: 10px; }
  .load-more:hover {
    text-decoration: none;
    background: rgba(0, 0, 0, 0.1); }

.posts .spinner-container{
  position: relative;
  height: 100px;
}

.jumbotron{
  text-align: center;
}
.jumbotron h2{
  font-size: 60px;
  font-weight: 100;
}

@-webkit-keyframes fadeOut {
  0% {opacity: 0;}
  10% {opacity: 1;}
  90% {opacity: 1;}
  100% {opacity: 0;}
}

@keyframes fadeOut {
  0% {opacity: 0;}
  10% {opacity: 1;}
  90% {opacity: 1;}
  100% {opacity: 0;}
}

.errors{
  position: fixed;
  z-index: 10000;
  padding: 10px;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  pointer-events: none;
}
.alert {
          animation: fadeOut 2700ms ease-in 0s 1 forwards;
  -webkit-animation: fadeOut 2700ms ease-in 0s 1 forwards;
     -moz-animation: fadeOut 2700ms ease-in 0s 1 forwards;
  width: 250px;
  float: right;
  clear: both;
  margin-bottom: 5px;
  pointer-events: auto;
}

/*######################################*/

/*SJ Defined*/

/*######################################*/

.container-db{

  /*background-color: #333;*/
  flex: 1 auto;
  /*background-image: url("img/the-moon.jpg");*/
    display: flex;
    min-height:100vh;
    width: 100vw;
    flex-direction: column;
    background-color: #333333;

}
/*FONTS N TING*/

@font-face {
  font-family: "Neues Bauen";
  src: url("fonts/NeuesBauen.eot");
  src: url("fonts/NeuesBauen.woff") format("woff");
}
@font-face{
  font-family: "OCRAS";
  src: url("fonts/OCRAStd.eot");
  src: url("fonts/OCRAStd.woff") format("woff");
}
@font-face{
  font-family: "ImpactLabelReversed";
  src: url("fonts/ImpactLabelReversed.eot");
  src: url("fonts/ImpactLabelReversed.woff") format("woff");
}

/*SPLASH PAGE */

.splashCont{
  display: flex;
  min-height:100vh;
  padding: 2vw;
  flex-direction: column;
  background-color: #333333;

}
.splashBox1{
background-image: url("img/the-moon.jpg");
background-position: left:0px top: 1000px;
/*flex: 1 auto;*/
background-repeat: no-repeat;
/*fill : #333333;*/

/*opacity: 0.5;*/
min-height: 20vh;
}
.splashBox2{
  background-image: url("img/the-moon.jpg");
  /*background-position: right:100px top: -400px;*/
  background-position: 0px  42%;

  /*flex: 1 auto;*/
  background-repeat: no-repeat;
  min-height: 40vh;
}
.splashBox3{
  background-image: url("img/the-moon.jpg");
  background-position: 0px 86%;
  /*flex: 1 auto;*/
  background-repeat: no-repeat;
  min-height: 20vh;
  text-align: center;


}
.mainText{
  font-family: "Neues Bauen";
  font-size: 2em;
  color: #fff;
  justify-content: center;
  text-align: center;
  padding-top: 15vh;
}
.startBtn{
  font-family: "Neues Bauen";
  font-size: 3em;
  color: #fff;
  background-color: #000;

  /*margin-left: calc(50vw - 123px ) ;*/
}
.headerText{
  font-family: "Neues Bauen";
  font-size: 3em;
  color: #fff;
  padding: 20px;
}


.headSpacer{
height: 5vh;

}
.donnytron{
border-radius: 25px;
/*padding: 5vh;*/
}
/*INPUT PANEL*/
.fb{
  display: flex;

}
.alignCenter{
  align-items: center;
  flex-direction: column;
}
.inputCont{
  background-image: url("img/frosted-plastic.jpeg");
  /*background-position: 0px 86%;*/
  flex: 1 auto;
  background-repeat: no-repeat;
  width:100vw;
}
.inputBox1{
/*background-image: url("img/frosted-plastic.jpeg");*/
background-color: rgba(105,105,105,0.2);


}
.puff{
  padding: 4vw;
}
.panelMid{
background-color: rgba(105,105,105,0.5);

}
.inputBox2{
background-color: #ddd;

}
.inputBox3{


}
.inputBox4{


}
.blackLabel{
background-color: #000;
margin: 10px;
padding: 5px;

}
.redLabel {
background-color: #f00;
margin: 10px;
padding: 5px;
}
.bigblackLabel{
background-color: #000;
margin: 15px;
padding: 10px;

}
.transparentLabel{
background-color: rgba(0,0,0,0.5);
margin: 8px;
padding: 4px;

}
.greenLabel{
background-color: #239a23;
margin: 10px;
padding: 4px;

}
.blueLabel{
background-color: #1976de;
margin: 8px;
padding: 4px;
padding-left: 5px;


}
.labelM{
  font-family: "OCRAS";
  font-size: 1em;
  color: #fff;
}
.labelMS{
  font-family: "OCRAS";
  font-size: 0.9em;
  color: #fff;

}
.labelS{
  font-family: "ImpactLabelReversed";
  font-size: 0.8em;
  color: #fff;
  line-height: 200%;
}
.unitSwitchBox{
  display: flex;
  /*flex-direction: column;*/
  /*border: 10px solid color:gold;*/
}
.toggle{
  max-width: 25vw;
  flex: 1 auto;
}
.radio{
  display: flex;
}
.form-pt0{
max-width: 40vw;

}
.form-pt1{
max-width: 40vw;

}
.form-pt2{
max-width: 40vw;

}
.unitName{
display: flex;
/*background-color: purple;*/
}
.sButton{
  min-width: 15vh;
  min-height: 16vh;

}
.cubeButton{
  background-image: url("img/button-off-sml.png");
  max-width: 13vh;
  max-height: 13vh;
  background-repeat: no-repeat;
  font-size: 0.8em;
  background-color: rgba(105,105,105,0);
}
.spaceView{
  background-image: url("img/space-view.png");
  min-width: 12vw;
  min-height: 100vw;
  background-size: 300px 300px;
  background-repeat: no-repeat;
}
.spaceCont{
  background-image: url("img/frosted-plastic.jpeg");
  display: flex;
  min-height:100vh;
  flex-direction: column;
}
.fade{
opacity: 0.5;
}
.slight-fade{
  opacity: 0.8;
}
.lightbox1{
  background-color: rgba(0,0,0,0.5);
  /*margin:15px;*/
  max-width: 100vw;
  min-height: 40vh;
}
.lightbox2{
  background-color: rgba(105,105,105,0.5);
  margin:5px;
}
.lightbox3{
  background-color: rgba(0,0,0,0.5);
  /*margin:15px;*/
  max-width: 100vw;
  min-height: 20vh;
  padding-top: 5vh;
}
.bright{
  opacity: 1;

}
.brb{
  background-color: rgba(0,0,0,0);
  background-image: url("img/brb-250.png");
  background-repeat: no-repeat;
  background-size: 150px 150px;
  min-height:30vh;
  min-width:50vh;

}
/*DRAW*/
.results{
  font-size: 1.2em;
  color: #fff;

}
.copy{
  font-size: 1em;
  color: #fff;
}
.skuoButton{
  background-color: rgba(0,0,0,0);
  background-repeat: no-repeat;
  min-height:60px;
  min-width:100px;
  border:0px;
}
.toggle1{
  /* background-color: #f00; */
  background-image: url("img/nob2_.png");

}
.toggle2{
  /* background-color: #0f0; */
  background-image: url("img/nob1_.png");

}
.version{
  font-size: 0.2em;
  color: #fff;

}
.tCrop{
  /* max-height: 30vh; */
  line-height: 50%;
}
.moonCrop{
  /* max-height: 30vh; */
  line-height: 50%;
}
