<template name ="splashPage ">
  <div class="splashCont">
    <div class = "headSpacer">
    </div>
  <div class="splashBox1 donnytron moonCrop">
    <div class=" headerText lightbox3 donnytron">
      <span class="bright tCrop">
        Moon Unit
      </span>
    <br/>
      <span class="version">V beta 1 . 0</span>

    </div>
  </div>
  <div class = "headSpacer">
  </div>
  <div class=" splashBox2 donnytron">
    <div class="mainText lightbox1 donnytron">
      <span class="bright ">
        Big numbers mean nothing, lets measure the moon on your scale.
    </span>
    </div>
  </div>
  <div class = "headSpacer">
  </div>
  <div class="splashBox3 donnytron">
    <div class="lightbox3 donnytron ">
    <button  class= "startBtn btn start " type="button" >Launch</button>
  </div>
  </div>
</div>
</template>
