<template name = "unitName">

<div class="inputCont">
  <!-- <div class="headSpacer">
  </div> -->
  <div class="inputBox1 donnytron puff">
    <div class="labelMS">
      <p><span class="blackLabel">The problem with big numbers is that we lack a frame of reference for them.</span></p>
      <p><span class="steelLabel">The Moon is big but far away, the Earth is huge, but the numbers involved are outside of our everyday understanding.</span></p>
      <p><span class="blackLabel">This tool will help to create that missing frame of reference.<br/>It will create a new unit based on your height, Then use it to make sense of the size and distance of the moon.</span></p>
      <p><span class="steelLabel ">Let's start by naming your new unit, Let's name it after you. Add either your first or second name below. </span></p>
      <form class="unitName" action="/input" >
      <input  name="newUnit"  type="text" value="" placeholder="Unit Name" class="form-control form-pt0"/>
      <input  type="submit" value="Press" class="sButton cubeButton btn "/>

    </form>
    </div>
  </div>
</div>



</template>
